body {
    padding-top: 50px;
}
.navbar-text .label {
    font-size: 100%;
}
footer {
    padding-top: 30px;
}
.panel-body pre {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #303030;
    border: 0;
    border-radius: 0;
}
table .progress {
    margin-bottom: 0;
    height: 21px;
}
.pagination {
    margin: 0;
    cursor: pointer;
    cursor: hand;
}
.nav-pills li.active.info a {
    background-color: #464545;
}
.nav-pills li.active.notice a {
    background-color: #3498db;
}
.nav-pills li.active.warning a {
    background-color: #f39c12;
}
.nav-pills li.active.danger a {
    background-color: #e74c3c;
}
.progress-bar-muted {
    background-color: #999999;
}
@media screen and (max-width: 767px) {
    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-left: 15px;
        padding-right: 15px;
    }
    .browse tr th:nth-child(3), .browse tr th:nth-child(4),
    .browse tr td:nth-child(3), .browse tr td:nth-child(4) {
        display: none;
    }
    .analyze tr th:nth-child(2), .analyze tr th:nth-child(3), .analyze tr th:nth-child(4),
    .analyze tr td:nth-child(2), .analyze tr td:nth-child(3), .analyze tr td:nth-child(4) {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .browse tr th:nth-child(3),
    .browse tr td:nth-child(3) {
        display: none;
    }
    .analyze tr th:nth-child(3), .analyze tr th:nth-child(4),
    .analyze tr td:nth-child(3), .analyze tr td:nth-child(4) {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .analyze tr th:nth-child(4),
    .analyze tr td:nth-child(4) {
        display: none;
    }
}
