body {
    padding-top: 50px;
}
.navbar-text .label {
    font-size: 100%;
}
footer {
    padding-top: 30px;
}
.panel-body pre {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #303030;
    border: 0;
    border-radius: 0;
}
table .progress {
    margin-bottom: 0;
    height: 21px;
}
.pagination {
    margin: 0;
    cursor: pointer;
    cursor: hand;
}
@media screen and (max-width: 767px) {
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-left: 15px;
    padding-right: 15px;
  }
}
